[submodule "src/submodules/poly_matrix"]
	path = src/submodules/poly_matrix
	url = https://github.com/utiasASRL/poly_matrix.git
[submodule "src/submodules/cert_tools"]
	path = src/submodules/cert_tools
	url = https://github.com/utiasASRL/certifiable-tools.git
[submodule "src/submodules/diffcp"]
	path = src/submodules/diffcp
	url = https://github.com/holmesco/diffcp.git
[submodule "src/submodules/cvxpylayers"]
	path = src/submodules/cvxpylayers
	url = https://github.com/holmesco/cvxpylayers.git
